@font-face { 
  font-family: 'Autography';
  src: url('file:../fonts/Autography.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body{
    border: none;
    margin: 0;
    
    background-color: #f6d667;
    background-image: url(../img/background.png);
    background-size: contain;
    background-repeat: repeat-y;
    background-position: top;
}

.texto{
    font-family: 'Dosis', sans-serif;
    color: #5d3f24;
    font-size: 20px;
    letter-spacing: 5px;
}

#texto_esquerda {
    position: absolute;
    
    width: 30px;
    height: 1910px;
    
    top: 0;
    left: 24px;
    
    writing-mode: vertical-rl;
    transform: rotateZ(180deg);
    
    display: none;
    
}

#texto_direita {
    position: absolute;
    top: 0;
    right: 0;
    
    writing-mode: vertical-rl;
    
    display: none;
}

#home {
    position: relative;
    width: calc(100vw - 17px);
    height: 100vh;
}

#circulo{
    position: absolute;
    
    height: 30vh;
    width: 30vh;
    
    left: calc(50vw - 15vh);
    top: -15vh;
    
    background-image: url(../img/circulo.png);
    background-size: contain;
    
    animation: animGirar 20s linear infinite;
}

.subtitulo {
    font-family: 'Autography', cursive;
    font-size: 48px;
    color: #5d3f24;
}

.titulo {
    font-family: 'Abril Fatface', cursive;
    font-size: 64px;
    color: #5d3f24;
}

#titulo_principal{
    position: relative;    
    
    height: 130px;
    
    text-align: center;
    
    top: calc(50vh - (160px/2));
}

#subtitulo {
    padding-left: 40px;
}

#titulo_2 {
    margin-top: -55px;
}

#frase_balao{
    position: absolute;
    
    height: 200px;
    width: 200px;
    
    left: calc(50vw - (200px/2));
    top: calc(100vh - (200px/2));
    
    animation: animGirar 20s linear infinite reverse;
    
    
    background-image: url(../img/frase_balao.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#balao {
    position: absolute;
    
    width: 200px;
    height: 400px;
    
    left: calc(50vw - (200px/2) + 7px);
    top: calc(100vh - 100px);
    
    background-image: url(../img/balao.png);
    background-size: contain;
}

.post{
    position: relative;
    
    width: 400px;
    height: 200px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    
    background-color: #fbdd76;
    border-color: #c6aa4a;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}

.post .capitulo {
    position: absolute;
    
    top: -50px;
    z-index: 100;
}

.post .img {
    position: relative;
    
    width: 200px;
    height: 200px;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    margin-left: -70px;
    margin-top: 8px;
}

.post .titulo{
    position: absolute;
    right: 46px;
    top: 20px;
    
    font-size: 36px;
    line-height: 40px;
}

.post .botao{
    position: absolute;
    
    width: 230px;
    height: 36px;
    
    padding-top: 8px;
    
    bottom: 32px;
    right: 46px;
    
    border-color: #5d3f24;
    border-style: solid;
    border-width: 2px;
    
    text-align: center;
    font-weight: 600;
    
    cursor: pointer;
    background-color: #fbdd76;
    
    transition: 0.15s ease;
}

.post .botao:hover{
    background-color: #5d3f24;
    color: #fbdd76;
}

.post.invertido .capitulo{
    right: 0;
}

.post.invertido .img {
    position: absolute;
    
    margin-left: 0px;
    right: -80px;    
}

.post.invertido .titulo{
    right: 0;
    left: 46px;
}

.post.invertido .botao{
    position: absolute;

    right: 0;
    left: 46px;
}

.post.aguardando .titulo{
    display: none;
}

.post.aguardando .botao{
    position: absolute;

    left: 46px;
    bottom: 76px;
    
    border: none;
    transition: none;
    cursor: default;
}

.post.aguardando .botao:hover{
    background-color: #fbdd76;
    color: #5d3f24;
}

#post_1{
    z-index: 501;
    margin-top: 420px;
}

#post_1 .img{
    background-image: url(../img/selo_1.png);
}

#post_2{
    z-index: 502;
    margin-top: 120px;
}

#post_2 .img{
    background-image: url(../img/selo_vazio.png);
}

#rodape{
    position: relative;
    
    width: 80vw;
    height: 58px;
    
    padding-top: 32px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    margin-top: 260px;
    
    background-color: #fbdd76;
    border-color: #c6aa4a;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    
    text-align: center;
}


.linha{
    position: absolute;
    
    background-repeat: no-repeat;
    background-size: contain;
}

#linha_1 {
    width: 300px;
    height: 400px;
    
    top: calc(100vh + 420px);
    left: calc(50vw + 180px);
    
    background-image: url(../img/linha_1.png);
}

#linha_2 {
    width: 300px;
    height: 400px;
    
    top: calc(100vh + 850px);
    left: calc(50vw - 360px);
    
    background-image: url(../img/linha_2.png);
}

#box_anim {
    background-color: #fbdd76;
    width: calc(100vw - 17px);
    height: 100vh;
    
    position: fixed;
    z-index: 999;
    
    display: block;
    opacity: 1;
    transition: 0.5s ease;
}

/* ANIMAÇÕES */
@keyframes animGirar {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(359deg);
    }
}