@font-face { 
  font-family: 'Autography';
  src: url('../fonts/Autography.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body{
    border: none;
    margin: 0;
    
    background-color: #f6d667;
    background-image: url(../img/background.png);
    background-size: contain;
    background-repeat: repeat-y;
    background-position: top;
    
    overflow-x: hidden;
}

.texto{
    font-family: 'Dosis', sans-serif;
    color: #5d3f24;
    font-size: 20px;
    letter-spacing: 5px;
}

#home {
    position: relative;
    width: calc(100vw - 17px);
    height: 100vh;
}

#circulo{
    position: absolute;
    
    height: 30vh;
    width: 30vh;
    
    left: calc(50vw - 15vh);
    top: -15vh;
    
    background-image: url(../img/circulo.png);
    background-size: contain;
    
    animation: animGirar 20s linear infinite;
}

.subtitulo {
    font-family: 'Autography', cursive;
    font-size: 48px;
    color: #5d3f24;
}

.titulo {
    font-family: 'Abril Fatface', cursive;
    font-size: 64px;
    color: #5d3f24;
}

#titulo_principal{
    position: relative;    
    
    height: 130px;
    
    text-align: center;
    
    top: calc(50vh - (160px/2));
}

#subtitulo {
    padding-left: 40px;
}

#titulo_2 {
    margin-top: -55px;
}

#frase_balao{
    position: absolute;
    
    height: 200px;
    width: 200px;
    
    left: calc(50vw - (200px/2));
    top: calc(100vh - (200px/2));
    
    animation: animGirar 20s linear infinite reverse;
    
    
    background-image: url(../img/frase_balao.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#balao {
    position: absolute;
    
    width: 200px;
    height: 400px;
    
    left: calc(50vw - (200px/2) + 7px);
    top: calc(100vh - 100px);
    
    background-image: url(../img/balao.png);
    background-size: contain;
}

.post{
    position: relative;
    
    width: 400px;
    height: 200px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    
    background-color: #fbdd76;
    border-color: #c6aa4a;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}

.post .capitulo {
    position: absolute;
    
    top: -50px;
    z-index: 100;
}

.post .img {
    position: relative;
    
    width: 200px;
    height: 200px;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    margin-left: -70px;
    margin-top: 8px;
}

.post .titulo{
    position: absolute;
    right: 46px;
    top: 20px;
    
    font-size: 36px;
    line-height: 40px;
}

.post .botao{
    position: absolute;
    
    width: 230px;
    height: 36px;
    
    padding-top: 8px;
    
    bottom: 32px;
    right: 46px;
    
    border-color: #5d3f24;
    border-style: solid;
    border-width: 2px;
    
    text-align: center;
    font-weight: 600;
    
    cursor: pointer;
    background-color: #fbdd76;
    
    transition: 0.15s ease;
}

.post .botao:hover{
    background-color: #5d3f24;
    color: #fbdd76;
}

.post.invertido .capitulo{
    right: 0;
}

.post.invertido .img {
    position: absolute;
    
    margin-left: 0px;
    right: -80px;    
}

.post.invertido .titulo{
    right: 0;
    left: 46px;
}

.post.invertido .botao{
    position: absolute;

    right: 0;
    left: 46px;
}

.post.aguardando .titulo{
    display: none;
}

.post.aguardando.invertido .botao{
    position: absolute;

    left: 46px;
    bottom: 76px;
    
    border: none;
    transition: none;
    cursor: default;
}

.post.aguardando .botao{
    position: absolute;

    right: 46px;
    bottom: 76px;
    
    border: none;
    transition: none;
    cursor: default;
}

.post.aguardando .botao:hover{
    background-color: #fbdd76;
    color: #5d3f24;
}

#post_1{
    z-index: 501;
    margin-top: 420px;
}

#post_1 .img{
    background-image: url(../img/selo_1.png);
}

#post_2 {
    z-index: 502;
    margin-top: 120px;
}

#post_2 .img{
    background-image: url(../img/selo_2.png);
}

#post_3{
    z-index: 503;
    margin-top: 120px;
}

#post_3 .img{
    background-image: url(../img/selo_3.png);
}

#post_4{
    z-index: 504;
    margin-top: 120px;
}

#post_4 .img{
    background-image: url(../img/selo_vazio_invertido.png);
}


#rodape{
    position: relative;
    
    width: 80vw;
    height: 58px;
    
    padding-top: 32px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    margin-top: 260px;
    
    background-color: #fbdd76;
    border-color: #c6aa4a;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    
    text-align: center;
}


.linha{
    position: absolute;
    
    background-repeat: no-repeat;
    background-size: contain;
}

#linha_1 {
    width: 300px;
    height: 400px;
    
    top: calc(100vh + 420px);
    left: calc(50vw + 180px);
    
    background-image: url(../img/linha_1.png);
}

#linha_2 {
    width: 300px;
    height: 400px;
    
    top: calc(100vh + 850px);
    left: calc(50vw - 360px);
    
    background-image: url(../img/linha_2.png);
}

#linha_3 {
    width: 300px;
    height: 400px;
    
    top: calc(100vh + 1150px);
    left: calc(50vw + 100px);
    
    background-image: url(../img/linha_3.png);
}

#box_anim {
    background-color: #fbdd76;
    width: 100vw;
    height: 100vh;
    
    position: fixed;
    z-index: 999;
    
    display: block;
    opacity: 1;
    transition: 0.5s ease;
}
    

/* ANIMAÇÕES */
@keyframes animGirar {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(359deg);
    }
}

@media only screen and (max-width: 1080px) {
    #rodape{
        position: relative;

        width: calc(80vw - 24px);
        height: auto;

        padding: 12px;

        margin-bottom: 36px;
        margin-top: 240px;

        font-size: 12px;
    }  
}

@media only screen and (max-width: 720px) {
    .subtitulo {
        font-size: 42px;
    }

    .titulo {
        font-size: 56px;
    }
    
    #titulo_principal{
        height: 110px;
        width: 100vw;
        top: calc(50vh - (110px/2));
    }

    #subtitulo {
        padding-left: 28px;
    }

    #titulo_2 {
        margin-top: -48px;
    }
    
    .linha {
        display: none;
    }
    
    #post_1{
        margin-top: 80vh;
    }
}

@media only screen and (max-width: 460px) {
    .subtitulo {
        font-size: 36px;
    }

    .titulo {
        font-size: 42px;
    }
    
    #titulo_principal{
        height: 110px;
        width: 100vw;
        top: calc(50vh - (110px/2));
    }

    #subtitulo {
        padding-left: 0px;
    }

    #titulo_2 {
        margin-top: -36px;
    }
    
    .linha {
        display: none;
    }
    
    .post{
        width: 300px;
    }

    .post .capitulo {
        top: -44px;
        right: 0;
        z-index: 100;
        
        font-size: 42px;
    }

    .post .img {
        width: 200px;
        height: 200px;

        margin-left: -85px;
        margin-top: -70px;
    }

    .post .titulo{
        right: 35px;
        top: 20px;
    }

    span.s_espacos {
        display: none;
    }
    
    span.s_quebra {
        display: block;
    }
    
    .post .botao{
        width: 230px;

        right: calc((300px - 230px)/2);
    }
    
    .post.invertido .capitulo{
        left: 0;
    }

    .post.invertido .img {
        position: relative;

        margin-left: 120px;   
    }

    .post.invertido .titulo{
        left: 35px;
    }

    .post.invertido .botao{
        position: absolute;

        right: 0px;
        left: calc((300px - 230px)/2);
    }

    .post.aguardando .titulo{
        display: none;
    }

    .post.aguardando.invertido .botao{
        left: 46px;
    }

    .post.aguardando .botao{
        width: 150px;
        right: 24px;
    }
    
    .post.aguardando .img{
        margin-top: 10px;
        margin-left: -60px;
    }
    
    .post.aguardando.invertido .botao{
        width: 150px;
        right: 24px;
    }
    
    .post.aguardando.invertido .img{
        margin-top: 10px;
        

        margin-left: 120px;   
    }

    #post_1{
        z-index: 501;
        margin-top: 80vh;
    }

    #post_2{
        z-index: 502;
        margin-top: 120px;
    }
    
    #post_3{
        z-index: 503;
        margin-top: 120px;
    }
    
    #post_3 .img {
        margin-left: -120px;
        margin-top: -60px;
    }
    
    #post_4{
        z-index: 504;
        margin-top: 120px;
    }
    
    #rodape{
        position: relative;

        width: calc(80vw - 24px);
        height: auto;

        padding: 12px;

        margin-bottom: 36px;
        margin-top: 240px;

        font-size: 12px;
    }  
}